
:root {
	--coverse-ochre: #c75b12;
	--coverse-red: #c11717;
	--coverse-yellow: #c1a017;
	--coverse-green: #17c15c;
	--coverse-light-blue: #17a1c1;
	--coverse-dark-blue: #1717c1;
	--coverse-purple: #a017c1;
	
	--bs-primary: var(--coverse-ochre);
	--bs-success: var(--coverse-green);
	--bs-danger: var(--coverse-red);
	--bs-warning: var(--coverse-yellow);
	--bs-info: var(--coverse-light-blue);
}

html {
	background-color: var(--coverse-ochre);
}

section {
	padding-top: 1.5rem !important;
}

footer {
	padding-top: 1.5rem !important;
	font-size: smaller;
}

h2 {
	text-decoration: underline;
}

a {
	color: var(--coverse-ochre);
}

mark, .mark {
	background-color: transparent;
}

sup.required {
	font-weight: bolder;
	color: var(--coverse-red);
}

.text-bg-primary {
	background-color: var(--coverse-ochre) !important;
}

.btn-primary {
	color: var(--bs-white);
	background-color: var(--coverse-ochre);
	border-color: var(--coverse-ochre);
}

.btn-primary:hover, .btn-primary:active {
	background-color: var(--coverse-red) !important;
	border-color: var(--coverse-red) !important;
}

.form-check-input:checked {
	background-color: var(--coverse-ochre);
	border-color: var(--coverse-ochre);
}

.minw-50 {
	min-width: 50% !important;
}
